@value values: '@css/variables.module.css';
@value colorMain, colorSecondary, padding, radius, border, shadow from values;

.register-form {
  width: 400px;
  padding: padding;

  display: flex;
  flex-direction: column;
  gap: padding;
}

.register-form label {
  display: block;
  text-align: center;

  font-size: 1.2rem;
}

.register-form input {
  width: 100%;
  display: block;

  font-size: 1rem;
  padding: calc(padding / 2) padding;
}

.register-form button {
  width: 70%;
  padding: calc(padding / 2);
  align-self: center;

  border: border;
  border-radius: calc(radius * 2);
  background-color: transparent;

  font-size: 1rem;
  cursor: pointer;
}

.register-form button:hover {
  color: black;
}
