@value values: '@css/variables.module.css';
@value colorMain, colorSecondary, padding, radius, border, shadow from values;

.chat {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: padding;
  padding: padding;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: padding;
  height: 100%;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background: inherit;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: #b7b7b7;
  }
}

.input {
  width: 100%;
  padding: padding;

  font-size: 1rem;

  border: border;
  border-radius: radius;
}
