@value values: '@css/variables.module.css';
@value colorMain, colorSecondary, padding, radius, border, shadow from values;

.register-dialog {
  padding: padding;

  border: border;
  border-radius: radius;
  box-shadow: shadow;
}
